[submodule "Bruno-HuggingFace"]
	path = Bruno-HuggingFace
	url = https://github.com/bruno-collections/Bruno-HuggingFace

[submodule "external-libraries-zod"]
	path = external-libraries-zod
	url = https://github.com/bruno-collections/external-libraries-zod

[submodule "github-rest-api-collection"]
	path = github-rest-api-collection
	url = https://github.com/bruno-collections/github-rest-api-collection

[submodule "jsonwebtoken"]
	path = jsonwebtoken
	url = https://github.com/bruno-collections/jsonwebtoken
[submodule "collection-endpoint2"]
	path = collection-endpoint2
	url = git@github.com:ravindra-bruno/collection-endpoint2.git
[submodule "collection-endpoint1"]
	path = collection-endpoint1
	url = git@github.com:ravindra-bruno/collection-endpoint1.git
